@charset "utf-8";
/* CSS Document */

p {
	font-size:1em !important;
}

img, embed, object, video 
{
	max-width: 100%;
}

.ui-field-contain input.ui-input-text {
    border-radius: 0.2em 0.2em 0.2em 0.2em;
}

@media screen and (max-width: 885px) {

}
@media screen and (max-width: 600px) {

}